<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- End Required meta tags -->
    <!-- Begin SEO tag -->
    <title>{% block title %} Data Manager {% endblock %}</title>
    <meta property="og:title" content="Fullwidth Page Layout">
    <meta name="author" content="Beni Arisandi">
    <meta property="og:locale" content="en_US">
    <meta name="description" content="Responsive admin theme build on top of Bootstrap 4">
    <meta property="og:description" content="Responsive admin theme build on top of Bootstrap 4">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
    <meta property="og:site_name" content="Looper - Bootstrap 4 Admin Theme">
    <!-- FAVICONS -->
    {% block stylesheets %}
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/apple-touch-icon.png">
        <link rel="shortcut icon" href="assets/favicon.ico">
        <meta name="theme-color" content="#3063A0"><!-- End FAVICONS -->
        <link rel="stylesheet" href="{{ asset('assets/vendor/open-iconic/css/open-iconic-bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/fontawesome/css/all.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/flatpickr/flatpickr.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/stylesheets/theme.min.css') }}" data-skin="default">
        <link rel="stylesheet" href="{{ asset('assets/stylesheets/theme-dark.min.css') }}" data-skin="dark">
        <link rel="stylesheet" href="{{ asset('assets/stylesheets/custom.css') }}">
        <link href="{{ asset('build/app.css')}}" rel="stylesheet" type="text/css">
    {% endblock %}
    <script> var skin = localStorage.getItem('skin') || 'default';
        var unusedLink = document.querySelector('link[data-skin]:not([data-skin="' + skin + '"])');

        unusedLink.setAttribute('rel', '');
        unusedLink.setAttribute('disabled', true);
    </script>
</head>
<body>
<!-- .app -->
<div class="app has-fullwidth">
    {% include 'index/header.html.twig' %}
    {% include 'index/menu.html.twig' %}
    <main class="app-main">
        <!-- .wrapper -->
        <div class="wrapper">
            <!-- .page -->
            <div class="page">
                {% block body %}

                {% endblock %}

            </div>
        </div><!-- /.wrapper -->
        <!-- .app-footer -->
        <footer class="app-footer">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="text-muted" href="#!">Support</a>
                </li>
                <li class="list-inline-item">
                    <a class="text-muted" href="#!">Help Center</a>
                </li>
                <li class="list-inline-item">
                    <a class="text-muted" href="#!">Privacy</a>
                </li>
                <li class="list-inline-item">
                    <a class="text-muted" href="#!">Terms of Service</a>
                </li>
            </ul>
            <div class="copyright"> Copyright © 2018. All right reserved.</div>
        </footer>
    </main>
</div>
{% block javascripts %}
    <script src="{{ asset('assets/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap/js/popper.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/pace/pace.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/stacked-menu/stacked-menu.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/flatpickr/flatpickr.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/easy-pie-chart/jquery.easypiechart.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/chart.js/Chart.min.js') }}"></script>
    <script src="{{ asset('assets/javascript/theme.min.js') }}"></script>
    <!-- script src="{{ asset('assets/javascript/pages/dashboard-demo.js') }}"></script-->
    <script src="{{ asset('build/runtime.js') }}"></script>
    <script src="{{ asset('build/app.js') }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-116692175-1');
    </script>
{% endblock %}
</body>

<!-- Mirrored from uselooper.com/layout-fullwidth.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 06 Dec 2018 13:09:18 GMT -->
</html>